@model art_gallery.ViewModel.OwnerInventoryListViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add Art</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.Label("Artist Name: ")
        @Html.EditorFor(model => model.Name)
    </div>
    <div>
        @Html.Label("Title: ")
        @Html.EditorFor(model => model.Title)
    </div>
    <div>
        @Html.Label("Price: ")
        @Html.EditorFor(model => model.Price)
    </div>
    <div>
        @Html.Label("Cost: ")
        @Html.EditorFor(model => model.Cost)
    </div>
    <div>
        @Html.Label("Location: ")
        @Html.EditorFor(model => model.Location)
    </div>
    <div>
        @Html.Label("Sold: ")
        @Html.EditorFor(model => model.Sold)
    </div>

    <input type="submit" value="Create" />

}

@Html.ActionLink("Back to homepage", "Index")