@model art_gallery.ViewModel.OwnerInventoryViewModel
@{
    ViewBag.Title = "OwnerInventory";
}

<h2>OwnerInventory</h2>

<button>@Html.ActionLink("Add ArtWork", "Create")</button>
<button>@Html.ActionLink("View Sold", "Sold", new { days = 10000 })</button>

<table>
    <th>
        @*<td width="100">IndividualPieceId</td>*@
        <td class="bold">Title</td>
        <td class="bold">Artist</td>
        <td class="bold">Price</td>
        <td class="bold">Cost</td>
        <td class="bold">Edit</td>
        <td class="bold">Delete</td>
    </th>

@foreach (var item in Model.Inventory)
{
    <tr>
        <td></td>
        @*<td>@Html.DisplayFor(ModelItem => item.IndividualPieceId)</td>*@
        <td>@Html.DisplayFor(ModelItem => item.Title)</td>
        <td>@Html.DisplayFor(ModelItem => item.Name)</td>
        <td>$@Html.DisplayFor(ModelItem => item.Price)</td>
        <td>$@Html.DisplayFor(ModelItem => item.Cost)</td>
        <td>@Html.ActionLink("edit", "Edit", new { ipId = item.IndividualPieceId })</td>
        <td>@Html.ActionLink("delete", "Delete", new { IndividualPieceId = item.IndividualPieceId })</td>

    </tr>
}
</table>

