@model art_gallery.ViewModel.OwnerInventoryViewModel
@{
    ViewBag.Title = "Sold Inventory";
}

<h2>Sold Inventory</h2>

<table>
    <th>
        <td class="bold">Title</td>
        <td class="bold">Artist</td>
        <td class="bold">Price</td>
        <td class="bold">Cost</td>
        <td class="bold">Profit</td>
    </th>

    @foreach (var item in Model.Inventory)
    {
        <tr>
            <td></td>
            <td>@Html.DisplayFor(ModelItem => item.Title)</td>
            <td>@Html.DisplayFor(ModelItem => item.Name)</td>
            <td>@Html.DisplayFor(ModelItem => item.Price)</td>
            <td>@Html.DisplayFor(ModelItem => item.Cost)</td>
            <td>@Html.DisplayFor(ModelItem => item.Profit)</td>
        </tr>
    }
</table>
