@model art_gallery.ViewModel.ArtDetailViewModel

@*<select>
  @foreach (var item in Model.priceFloor)
  {
    <option value=@item>$@item</option>
  }
</select>

<select>
  @foreach (var item in Model.priceCeiling)
  {
    <option value=@item>$@item</option>
  }
</select>*@

@*@Html.DropDownListFor(m => m.selectedPriceFloor, Model.priceOptions)
@Html.DropDownListFor(m => m.selectedPriceCeiling, Model.priceOptions)
<input type="submit" value="Index" />*@

<h4>Filter by Price Range</h4>
<ul>
  <li><a href="@Url.Action("PriceRangeView", "Home", new { priceFloor = 0.00M, priceCeiling = 500.00M })">$1 - $500</a></li>
  <li><a href="@Url.Action("PriceRangeView", "Home", new { priceFloor = 500.01M, priceCeiling = 1000.00M })">$501 - $1000</a></li>
  <li><a href="@Url.Action("PriceRangeView", "Home", new { priceFloor = 1000.01M, priceCeiling = 2000.00M })">$1000 - $2000</a></li>
</ul>

<div class="container">
  @foreach (var item in Model.ArtListings)
  {
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4>@item.Title</h4>
        <h4>by <a href="@Url.Action("IndividualArtistView", "Home", new { ArtistId = item.ArtistId })">@item.ArtistName</a></h4>
        <div>Medium: <a href="@Url.Action("IndividualMediumView", "Home", new { MediumType = item.Medium })">@item.Medium</a></div>
        <div><a href="@Url.Action("IndividualPieceView", "Home", new { ArtWorkId = @item.ArtWorkId })"><img class="img-responsive" src="@item.Image" alt="@item.Title" /></a></div>
      </div>
      <div class="col-md-2"></div>
    </div>
  }
</div>