@model art_gallery.ViewModel.ArtDetailViewModel

<div class="container">
  @foreach (var item in Model.ArtListings)
  {
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4>@item.Title</h4>
        <h4>by <a href="@Url.Action("IndividualArtistView", "Home", new { ArtistId = item.ArtistId })">@item.ArtistName</a></h4>
        <div>Medium: <a href="@Url.Action("IndividualMediumView", "Home", new { MediumType = item.Medium })">@item.Medium</a></div>
        <div><a href="@Url.Action("IndividualPieceView", "Home", new { ArtWorkId = @item.ArtWorkId })"><img class="img-responsive" src="@item.Image" alt="@item.Title" /></a></div>
      </div>
      <div class="col-md-2"></div>
    </div>
  }
</div>