@model art_gallery.ViewModel.AgentListViewModel
@{
    ViewBag.Title = "Create Agent";
}

<h2>Create Agent</h2>

@using (Html.BeginForm())
{
    @Html.Label("First Name")
    @Html.EditorFor(model => model.FirstName)
    <br />
    @Html.Label("Last Name")
    @Html.EditorFor(model => model.LastName)
    <br />
    @Html.Label("Location")
    @Html.EditorFor(model => model.Location)
    <br />
    @Html.Label("Address")
    @Html.EditorFor(model => model.Address)
    <br />
    @Html.Label("Phone Number")
    @Html.EditorFor(model => model.PhoneNumber)
    <br />
    @Html.Label("Active")
    @Html.EditorFor(model => model.Active)
    <br />
    <input type="submit" value="Create" />
}
