@model art_gallery.ViewModel.AgentListViewModel
@{
    ViewBag.Title = "Agent Details";
}

<h2>Agent Details</h2>
<table>
    <tr>
        <th style="font-weight:bold; width:50px;">ID</th>
        <th style="font-weight:bold; width:80px;">FIRST</th>
        <th style="font-weight:bold; width:80px;">LAST</th>
        <th style="font-weight:bold; width:80px;">INVOICE</th>
        <th style="font-weight:bold; width:100px;">COST</th>
        <th style="font-weight:bold; width:100px;">PRICE</th>
        <th style="font-weight:bold; width:100px;">PROFIT</th>
    </tr>

    @foreach (var item in Model.Agents)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => item.AgentId)</td>
            <td>@Html.DisplayFor(ModelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(ModelItem => item.LastName)</td>
            <td>@Html.DisplayFor(ModelItem => item.InvoiceId)</td>
            <td>@Html.DisplayFor(ModelItem => item.Cost)</td>
            <td>@Html.DisplayFor(ModelItem => item.Price)</td>
            <td>@Html.DisplayFor(ModelItem => item.Profit)</td>
        </tr>
    }
    <tr><td></td></tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bold">Total Profit:</td>
        <td>$@Model.TotalProfit</td>
    </tr>

</table>
