@model List<art_gallery.ViewModel.AgentDetailViewModel>
@{
    ViewBag.Title = "Agent List";
}

<h2>Agent List</h2>
<br />
<button>@Html.ActionLink("Add New Agent", "Create")</button>
<br /><br />
<table>
    <th>
        <td style="font-weight:bold; width:50px;">ID</td>
        <td style="font-weight:bold; width:100px;">FIRST</td>
        <td style="font-weight:bold; width:100px;">LAST</td>
        <td style="font-weight:bold; width:100px;">EDIT</td>
        <td style="font-weight:bold; width:100px;">DELETE</td>
    </th>
    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td>@Html.DisplayFor(ModelItem => item.AgentId)</td>
            <td>@Html.DisplayFor(ModelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(ModelItem => item.LastName)</td>
            <td>@Html.ActionLink("edit", "Edit", new { agentId = item.AgentId })</td>
            <td>@Html.ActionLink("delete", "Delete", new { agentId = item.AgentId })</td>
        </tr>
    }

</table>
